@import "~bootstrap/scss/functions";
@import "./helpers/_variables";
@import "~bootstrap/scss/bootstrap";

@import "./_dashboard";
@import "./_sidebar";
@import "./_backgroundImg";

.carts_img{
  width: 200px;
}

html,body,#app{
  height: 100%;
}

.page_height{
  min-height: calc(100% - 72px);
}
